In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Defining path
path = r'/Users/CK/Downloads/CF/Instacart Basket Analysis'

In [3]:
# Importing ords_prods_merge
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data' , 'Prepared Data', 'ords_prods_merge_updated.pkl'))

In [4]:
# Creating a subset
df = ords_prods_merge[:1000000]

In [5]:
# Checking the shape
df.shape

(1000000, 18)

In [6]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_day,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy,Average Orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average Orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders

In [7]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [8]:
# Q2) aggregated mean of the “order_number” column grouped by “department_id” for the entire data frame
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

Q3) The mean values of the subset and the entire dataframe are not same. There are similar to a certain extent. Obviously when you take more data points into consideration, the values get further accurate. Also, the subset included only certain department ids whereas the entire dataframe will give you a picture of every departmentid.

## Q5) Using loc and transform to create loyalty flag

In [9]:
# Using loc and transform to create loyalty flag
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/gc/2p45966n07l89n0z72465jy80000gn/T/ipykernel_29028/1703797170.py:2: FutureWarning: The provided callable <function amax at 0x109a11a80> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
# View updated data frame
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_day,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy,Average Orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average Orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Regularly busy,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Regularly busy,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Regularly busy,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average Orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest day,Regularly busy,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Regularly busy,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Regularly busy,Most orders,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average Orders,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy,Most orders,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy,Average Orders,20

In [11]:
# Use loc function to make loyalty flag column with given criteria
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [12]:
# Check frequency of values in new loyalty flag column
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [13]:
# View updated data frame
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_day,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy,Average Orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average Orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10,New customer

## Q6) Different types of spenders in their marketing campaigns

In [14]:
# Using loc and transform to create loyalty flag
ords_prods_merge['mean_product_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/gc/2p45966n07l89n0z72465jy80000gn/T/ipykernel_29028/1261218711.py:2: FutureWarning: The provided callable <function mean at 0x109a127a0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_product_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [15]:
# View updated data frame
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest_days,busiest_day,busiest_period_of_day,max_order,loyalty_flag,mean_product_price
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Regularly busy,Average Orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Regularly busy,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Average Orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Busiest day,Regularly busy,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Busiest day,Regularly busy,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Busiest day,Regularly busy,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Average Orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Busiest day,Regularly busy,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Busiest day,Regularly busy,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Busiest day,Regularly busy,Most orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Average Orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Least busy,Regularly busy,Most orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,7,9.0,both,Mid-range product,Least busy,Regularly busy,Average Orders,20,Regular customer,8.137793

In [16]:
#Use loc function to make spending flag column with given criteria
ords_prods_merge.loc[ords_prods_merge['mean_product_price'] <10, 'spender_type'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['mean_product_price'] >=10, 'spender_type'] = 'High spender'

In [17]:
# Check frequency of values in new spending flag column
ords_prods_merge['spender_type'].value_counts(dropna = False)

spender_type
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [18]:
# View relevant columns of updated data frame
ords_prods_merge[['user_id', 'mean_product_price', 'spender_type']].head(20)

    user_id  mean_product_price spender_type
0         1            6.367797  Low spender
1         1            6.367797  Low spender
2         1            6.367797  Low spender
3         1            6.367797  Low spender
4         1            6.367797  Low spender
5         1            6.367797  Low spender
6         1            6.367797  Low spender
7         1            6.367797  Low spender
8         1            6.367797  Low spender
9         1            6.367797  Low spender
10       15            3.980556  Low spender
11       15            3.980556  Low spender
12       15            3.980556  Low spender
13       15            3.980556  Low spender
14       15            3.980556  Low spender
15       19            8.372059  Low spender
16       19            8.372059  Low spender
17       19            8.372059  Low spender
18       21            7.012683  Low spender
19       31            8.137793  Low spender

## Q7) Determine frequent versus non-frequent customers

In [19]:
# Using loc and transform to create frequency flag
ords_prods_merge['order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/gc/2p45966n07l89n0z72465jy80000gn/T/ipykernel_29028/2895613697.py:2: FutureWarning: The provided callable <function median at 0x109b5c7c0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [20]:
# View updated data frame
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_days,busiest_day,busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spender_type,order_frequency
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Regularly busy,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Least busy,Average Orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,both,Mid-range product,Busiest day,Regularly busy,Most orders,10,New customer,6.367797,Low spender,20.5
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,both,Mid-range product,Busiest day,Regularly busy,Most orders,10,New customer,6.367797,Low spender,20.5
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,both,Mid-range product,Busiest day,Regularly busy,Most orders,10,New customer,6.367797,Low spender,20.5
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Least busy,Average Orders,10,New customer,6.367797,Low spender,20.5
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,both,Mid-range product,Busiest day,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,both,Mid-range product,Busiest day,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,both,Mid-range product,Busiest day,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender,6.0
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender,6.0
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Least busy,Average Orders,9,New customer,8.372059,Low spender,6.0
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,both,Mid-range product,Least busy,Regularly busy,Most orders,33,Regular customer,7.012683,Low spender,7.5
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,both,Mid-range product,Least busy,Regularly busy,Average Orders,20,Regular customer,8.137793,Low spender,6.0

In [23]:
#Use loc function to make order frequency flag column with given criteria
ords_prods_merge.loc[ords_prods_merge['order_frequency'] >=20, 'frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['order_frequency']>10) & (ords_prods_merge['order_frequency'] <=20), 'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['order_frequency'] <=10, 'frequency_flag'] = 'Frequent customer'

In [24]:
# Check frequency of values in new spending flag column
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
nan                             5
Name: count, dtype: int64

There are columns which doesn't have missing values or invalid values or perhaps, values where the orders are the first orders of customers. Hence we have 5 nan count.

In [26]:
# View relevant columns of updated data frame
ords_prods_merge[['user_id', 'days_since_prior_order', 'order_frequency', 'frequency_flag']].head(25)

    user_id  days_since_prior_order  order_frequency         frequency_flag
0         1                     NaN             20.5  Non-frequent customer
1         1                    15.0             20.5  Non-frequent customer
2         1                    21.0             20.5  Non-frequent customer
3         1                    29.0             20.5  Non-frequent customer
4         1                    28.0             20.5  Non-frequent customer
5         1                    19.0             20.5  Non-frequent customer
6         1                    20.0             20.5  Non-frequent customer
7         1                    14.0             20.5  Non-frequent customer
8         1                     0.0             20.5  Non-frequent customer
9         1                    30.0             20.5  Non-frequent customer
10       15                     7.0             10.0      Frequent customer
11       15                     8.0             10.0      Frequent customer
12       15                     7.0             10.0      Frequent customer
13       15                     7.0             10.0      Frequent customer
14       15                    14.0             10.0      Frequent customer
15       19                     6.0              6.0      Frequent customer
16       19                     8.0              6.0      Frequent customer
17       19                     6.0              6.0      Frequent customer
18       21                     6.0              7.5      Frequent customer
19       31                     7.0              6.0      Frequent customer
20       31                     8.0              6.0      Frequent customer
21       43                     4.0             10.0      Frequent customer
22       43                     3.0             10.0      Frequent customer
23       52                     NaN              8.0      Frequent customer
24       52                     7.0              8.0      Frequent customer

In [30]:
# Export data to pkl

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_upd_grouped.pkl'))